{% extends "base.html" %}

{% block content %}

<style media="screen">
    .starsocial{
        {% comment %} font-size: 50px; {% endcomment %}
        text-align: center;
        align-content: center;
        margin-top : 30px;
    }
</style>

<div class="jumbotron">


<div class="starsocial" id="starsocial">
    <h1>Welcome to Star Social!</h1>
</div>

<script>

{% comment %} 
<!--document.querySelector("starsocial").addeventListener('click', function(){-->
<!--    this.textColor = yellow ;-->
<!--    this.textSize = 40 px;-->
<!--});--> 
{% endcomment %}

</script>
</div>

{% endblock %}
